@font-face {
  font-family: "Mrs Eaves OT Roman";
  font-display: auto;
  src: url("/fonts/mrs-eaves-ot-roman.woff2") format("woff2"),
       url("/fonts/mrs-eaves-ot-roman.woff") format("woff"),
       url("/fonts/mrs-eaves-ot-roman.ttf") format("truetype");
}

// Site-specific overrides
$family-primary: "Mrs Eaves OT Roman", serif;

@import "~bulma";

.content .taglist {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  li {
    padding: 0 2rem 1rem 0;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }
}

// Helper Classes
.full-width-image-container {
  width: 100vw;
  height: 400px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 2em -50vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width-image {
  width: 100vw;
  height: 400px;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-top-0 {
  margin-top: 0 !important;
}

.navbar-item .icon {
  color: $primary;
}
// Override for use of svg's from https://simpleicons.org/
.icon svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}

// blog roll
.blog-list-item.is-featured {
  background-color: #d6400033;
}
.blog-list-item header {
  display: flex;
  margin-bottom: 1em;
}
.blog-list-item .featured-thumbnail {
  flex-basis: 35%;
  margin: 0 1.5em 0 0;
}

body {
  font-size: 1.2em;
  line-height: 1.2;
}

.title {
  font-weight: $weight-normal;
}
.hero-body .title {
  font-size: 2.8rem;
}
// End of overrides

// responsiveness
+tablet-only {
  .blog-list-item .featured-thumbnail {
    flex-basis: 50%;
  }
}
+mobile {
  .blog-list-item header {
    display: block;
  }
  .blog-list-item .featured-thumbnail {
    text-align: center;
    max-width: 70%;
    margin: 0 0 1em;
  }
}
